<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/edit_mentor" method="post">
        <h2>Mail</h2>
        <input type="text" name="mail" value="" />
        <br/>
        <button type="submit">Se connecter</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Retour à l'accueil</button>
    </form>

</body>

</html>
