<!DOCTYPE html>
<html>

<head>
    <title><%= title %>></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Voici les Mentors les plus proches</h2>

    <form action="/find_mentor" method="get">
        <button type="submit">Trouver un Mentor</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Retour à l'accueil</button>
    </form>

</body>

</html>