<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/display_mentors" method="post">
        
        <h2>Adresse de départ</h2>
        <input type="text" name="start" value="" />
        <h2>Adresse d'arrivée</h2>
        <input type="text" name="end" value="" />

        <button type="submit">Trouver</button>
    </form>

</body>

</html>
