<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            width: 70%;
            height: 100%;
            left: 30%;
        }

        #form {
            width: 30%;
            border: 3px;
            position: absolute;
            right: 5px;
            top: 5px;
            bottom: 5px;
            left: 0%;
            margin-left: 25px;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        let i = 0;
        let startLatLng;
        let endLatLng;
        let startMaker, endMarker;
        let polyline;

        function onMapClick(e) {
            
            if (i === 0) {
                startLatLng = [e.latlng.lat, e.latlng.lng];
                startMarker = L.marker(startLatLng);
                startMarker.addTo(map);

                let startLatLngText = e.latlng.lat.toFixed(5) + ', ' + e.latlng.lng.toFixed(5);

                document.getElementById('startPoint').value = startLatLngText;
                
                ++i;
            }
            else if (i === 1) {
                endLatLng = [e.latlng.lat, e.latlng.lng];
                endMarker = L.marker(endLatLng);
                endMarker.addTo(map);

                let endLatLngText = e.latlng.lat.toFixed(5) + ', ' + e.latlng.lng.toFixed(5);

                document.getElementById('endPoint').value = endLatLngText;

                polyline = L.polyline([startLatLng, endLatLng], { color: 'blue' });
                polyline.addTo(map);
                ++i;
            }
            else if (i === 2) {
                map.removeLayer(startMarker);
                map.removeLayer(endMarker);
                map.removeLayer(polyline);
                i = 0;
            }
        }

        // Initialize Leaflet .
        let map = L.map('map').setView({ lon: 5.7517, lat: 45.1846 }, 13);

        map.on('click', onMapClick);

        // Add the OpenStreetMap tiles.
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // Show the scale bar on the lower left corner.
        L.control.scale().addTo(map);
    </script>

    <div id="form">
        <form action="/display_mentors" method="post">

            <h4>Point de départ</h4>
            <p>Cliquer une première fois sur la carte</p>
            <input type="text" class="form-control w-75" id="startPoint" name="start" value="" placeholder="Coordonnées" readonly/>
            <br/>
            <br/>
            <h4>Point d'arrivée</h2>
            <p>Cliquer une seconde fois sur la carte</p>
            <input type="text" class="form-control w-75" id="endPoint" name="end" value="" placeholder="Coordonnées" readonly/>
            <br/>
            <br/>
            <p>Effacer le trajet en cliquant une troisième fois</p>
            <h4>Critère</h4>

            <input type="radio" id="trajectory" name="search" value="trajectory" checked>
            <label for="trajectory">Trajet le plus proche</label><br>
            <input type="radio" id="start" name="search" value="start">
            <label for="start">Départ le plus proche</label><br>
            <input type="radio" id="end" name="search" value="end">
            <label for="end">Arrivée la plus proche</label><br>

            <br/>
            <br/>

            <button type="submit" class="btn btn-lg btn-block btn-outline-primary align-self-end w-75">Trouver</button>

        </form>
        <br/>
        <br/>
        <form action="/" method="get">
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary align-self-end w-75">Retour à l'accueil</button>
        </form>
    </div>

</body>

</html>