<!DOCTYPE html>
<html>

<head>
    <title>Mentor Effacé</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Mentor effacé avec succès.</h2>

    <form action="/done" method="get">
        <button type="submit">Retour à l'accueil</button>
    </form>
</body>

</html>