<!DOCTYPE html>
<html>

<head>
    <title>Mentor Créé</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Mentor <%= pseudo %> créé avec succès.</h2>
    <h2>La distance de votre trajet en ligne droite est de <%= distance %>kms.</h2>

    <form action="/done" method="get">
        <button type="submit">Retour à l'accueil</button>
    </form>
</body>

</html>